body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

.resume {
    display: flex;
    flex-direction: column;
    max-width: 800px; /* Adjusted for better readability */
    margin: 20px auto;
    padding: 20px; /* Added padding for better spacing */
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.resume_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #2a2a2a;
    padding-bottom: 20px;
}

.resume_header h1 {
    font-size: 28px;
    margin: 0;
}

.contact_info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.resume_section {
    margin-bottom: 20px;
}

.resume_section h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #2a2a2a; /* Added color for headings */
}

.section_item {
    margin-bottom: 15px;
}

.experience, .education {
    margin-bottom: 15px;
}

.experience_title, .education_title {
    font-weight: bold;
    font-size: 18px; /* Increased font size for better visibility */
}

.date {
    font-style: italic;
    color: #777; /* Light color for dates */
}

.skills ul {
    columns: 2;
}

ul {
    list-style-type: none;
    padding-left: 0;
}
